# Cut function use case

In [1]:
import pandas as pd
import numpy as np

### Generate random age data

In [2]:
np.random.seed(7)
df = pd.DataFrame({'age': np.random.randint(0, 100, 20)})
df.head()

   age
0   47
1   68
2   25
3   67
4   83

### How to add another column that represents age intervals? Use pandas cut

In [3]:
# derive interval list
labels = [ "{} - {}".format(i, i + 9) for i in range(0, 100, 10) ]
print(len(labels))
print(labels)

10
['0 - 9', '10 - 19', '20 - 29', '30 - 39', '40 - 49', '50 - 59', '60 - 69', '70 - 79', '80 - 89', '90 - 99']

### cut is useful to histogram values and convert bins to categories
It is right edge inclusive by default (i.e. thus left edge exclusive)

In [4]:
# range() extends to 101 so that edge 100 will appear in generated list
df['group'] = pd.cut(df.age, range(0, 101, 10), right=False, labels=labels)
df.head(10)

   age    group
0   47  40 - 49
1   68  60 - 69
2   25  20 - 29
3   67  60 - 69
4   83  80 - 89
5   23  20 - 29
6   92  90 - 99
7   57  50 - 59
8   14  10 - 19
9   23  20 - 29